.movie {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: black;
    display: grid;
    grid-gap: 20px;
}

.movie__img {
    position: relative;
    top: -50px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
}

.movie__title,
.movie__year {
    margin: 0;
    text-decoration: none;
}

.movie__title a {
    margin-bottom: 5px;
    font-size: 24px;
    color: black;
}

.movie__year {
    margin-right: 10px;
    font-size: 14px;
}